<%# essas segundas linhas das divs/campos do formulário contém tags que especificam o tipo de campo%>
<%# pesquise a tag adequada para cada entrada quando precisar%>
<%# ele já usa a instância do método que foi criada com .new%>

<%= form_with model: movie do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :rating %>
    <%= form.text_field :rating%>
  </div>

  <div>
    <%= form.label :release_date %>
    <%= form.date_select :release_date, 
      start_year: 1900, 
      end_year: Time.now.year, 
      order: [:day, :month, :year] %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
